<a href="https://colab.research.google.com/github/saksham657/TTP-summer-23/blob/main/Intro_To_Python(TTP).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics

## Strings & the print()

In [ ]:
print('Hi there!')

Hi there!

In [ ]:
print("There are two types of slashes: \\ and /")

There are two types of slashes: \ and /

In [ ]:
print("""
    This is a tabbed line
This is a regular line
""")

    This is a tabbed line
This is a regular line

In [ ]:
print("\n\tThis is a tabbed line\nThis is a regular line")

	This is a tabbed line
This is a regular line

In [ ]:
print("first name " + 'last name')

first name last name

## Variables

In [ ]:
dogs = 3
cats = "Many fluffy cats"

In [ ]:
dogs

3

In [ ]:
cats

'Many fluffy cats'

In [ ]:
type(dogs)

int

In [ ]:
type(cats)

str

In [ ]:
print(dogs)

3

In [ ]:
hi = "Hello"
name = " John "
print(hi + name)

Hello John

In [ ]:
more_dogs = 5

print(dogs + more_dogs)

8

In [ ]:
price = 19.99
amount = 3

In [ ]:
print(price * amount)

59.97

In [ ]:
# Variable re-assignment
dogs = "New Value"

print(dogs)

New Value

In [ ]:
cats, dogs, rabbits = 2, 5, "cute"

print(dogs)

5

## More strings

### Indexing

In [ ]:
greeting = 'Hello world!'

In [ ]:
greeting

'Hello world!'

In [ ]:
print(greeting[4])
# indexing starts with a zero, so [4] means whatever letter comes on the 5th postion, will be printed

o

In [ ]:
# The 3rd, the 5th, and/or the 19th
candy = 'How are you doing today?'

In [ ]:
candy

'How are you doing today?'

In [ ]:
print(candy[3])
print(candy[5])
print(candy[19])

r
o

In [ ]:
len(greeting)

12

In [ ]:
greeting[11]

'!'

In [ ]:
greeting[-1]

'!'

In [ ]:
candy[-1]

'?'

### String Formatting

In [ ]:
price = 59.99

In [ ]:
message = "The product costs " + str(price) + " dollars"

In [ ]:
message

'The product costs 59.99 dollars'

#### The .format() method!

In [ ]:
msg = "The product cost {} dollars".format(price)

In [ ]:
msg

'The product cost 59.99 dollars'

In [ ]:
amount = 3
total = amount * price

In [ ]:
msg2 = 'For {} products at the price of {}, the total will be: {}'

In [ ]:
print(msg2.format(amount, price, total))

For 3 products at the price of 59.99, the total will be: 179.97

In [ ]:
msg3 = 'For {2} products at the price of {0}, the total will be: {1}'

In [ ]:
print(msg3.format(price, total, amount))

For 3 products at the price of 59.99, the total will be: 179.97

#### The f-string Method

In [ ]:
price = 19.99
items = 3

In [ ]:
msg = f'This individual product is {price}'

In [ ]:
msg

'This individual product is 19.99'

In [ ]:
msg2 = f'The total for your purchase is {price * items}'

In [ ]:
msg2

'The total for your purchase is 59.97'

#### String Functions

In [ ]:
dir(msg)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
msg

'This individual product is 19.99'

In [ ]:
msg = 'Hello my name is Bob'

In [ ]:
words = msg.split(' ')

In [ ]:
print(words)

['Hello', 'my', 'name', 'is', 'Bob']

In [ ]:
elements = msg.split('e')

In [ ]:
print(elements)

['H', 'llo my nam', ' is Bob']

In [ ]:
print(msg.upper())

HELLO MY NAME IS BOB

In [ ]:
print(msg.lower())

hello my name is bob

 ## The input() Method

In [ ]:
data = input('What is your name: ')
print(f'Hello {data}, Hope your day is great!')

What is your name: Jen
Hello Jen, Hope your day is great!

In [ ]:
num = int(input('enter a number: '))
print(num)

enter a number: 3
3

In [ ]:
type(num)

int

In [108]:
int_name = input('Please enter you name: ')
int_age = int(input('Please enter your age: '))
int_state = input('Please enter you state of residence: ')
print(f'Hello {int_name}, Thanks for signing up. People over the age of 18 are only eligible for this offer. {int_state}is a great state to live and work. I hope you have a great day ahead.')

Please enter you name: sam
Please enter your age: 19
Please enter you state of residence: ny
Hello sam, Thanks for signing up. People over the age of 18 are only eligible for this offer. nyis a great state to live and work. I hope you have a great day ahead.

## Numbers

In [ ]:
cats = 7
money = -35.5
x = 2+5j
message = "Hello Alice"

In [ ]:
print(type(cats))
print(type(money))
print(type(x))
print(type(message))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

In [ ]:
shoes = 5
print(f"I own {shoes} pairs of shoes")
print(type(shoes))

I own 5 pairs of shoes
<class 'int'>

In [ ]:
a = 6
b = 2.5
print(f"{a} * {b} = {a * b}")
print(type(a * b))

6 * 2.5 = 15.0
<class 'float'>

### Conversions

In [ ]:
value = 3.8
convert = int(value)
print(convert)
print(type(convert))

3
<class 'int'>

In [ ]:
number = int("25")
print(number)
print(type(number))

25
<class 'int'>

In [ ]:
num2 = 'twenty'
print(len(num2))

6

In [ ]:
value = 78
convert = float(value)
print(convert)
print(type(convert))
convert = float("56.48")
print(convert)
print(type(convert))

78.0
<class 'float'>
56.48
<class 'float'>

In [ ]:
value = 38
convert = complex(value)
print(convert)
print(type(convert))

(38+0j)
<class 'complex'>

In [ ]:
value = 28.4875
convert = str(value)
print(convert)
print(type(convert))

28.4875
<class 'str'>

In [ ]:
data = input("Please enter a value: ")
print(int(data))
print(float(data))
print(complex(data))
print(str(data))

Please enter a value: 42
42
42.0
(42+0j)
42

In [ ]:
pi = 3.14159
print(type(pi))
print(int(pi))
print(complex(pi))
print(str(pi))

<class 'float'>
3
(3.14159+0j)
3.14159

### Operations

#### The 'Modulus' Operator

In [ ]:
print(259 / 4)

64.75

In [ ]:
print(259 % 4)

3

#### The 'power' Operator

In [ ]:
print( 9 ** 4)

6561

In [ ]:
2 ** 2

4

#### The floor Operator

In [ ]:
print(9 // 4)

2

#### Assignment Operator

In [ ]:
x = 9

In [ ]:
x += 4
print(x)

13

In [ ]:
# x = x + 4
x -= 4
print(x)

9

In [ ]:
x *= 4
print(x)

36

In [ ]:
x /= 4
print(x)

9.0

#### Ask the user for 2 numbers, and present the output with addition, subtraction, multiplication, division.

In [ ]:
num1 = input('Please enter the first number: ')
num2 = input('Please enter the second number: ')
sum = float(num1) + float(num2)
print(f'The output for additon is: {sum}')
difference= float(num1) - float(num2)
print(f'The output for subtraction is: {difference}')
multiply = float(num1) * float(num2)
print(f'The output for multiplication is: {multiply}')
divide = float(num1) // float(num2)
print(f'The output for division is: {divide}')

Please enter the first number: 30
Please enter the second number: 5
The output for additon is: 35.0
The output for subtraction is: 25.0
The output for multiplication is: 150.0
The output for division is: 6.0